<h3>Registering Student</h3>
<div class="row">
    <div class="col-md-5">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text"
                           id="fullName"
                           formControlName="fullName"
                           class="form-control">
                    <span
                        *ngIf="!registerForm.get('userData.fullName').valid && registerForm.get('userData.fullName').touched"
                        class="help-block">Please enter a valid Full Name!</span>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email"
                           id="email"
                           formControlName="email"
                           class="form-control">
                    <span
                            *ngIf="!registerForm.get('userData.email').valid && registerForm.get('userData.email').touched"
                            class="help-block">Please enter a valid E-Mail!</span>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   id="sexMale"
                                   value="Male"
                                   formControlName="sex">
                            ชาย
                        </label>
                        <label>
                            <input type="radio"
                                   id="sexFemale"
                                   value="Female"
                                   formControlName="sex">
                            หญิง
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text"
                           id="username"
                           class="form-control"
                           formControlName="username">
                    <span
                        *ngIf="!registerForm.get('userData.username').valid && registerForm.get('userData.username').touched"
                        class="help-block">Please enter a valid Username!</span>
                </div>
                <button class="btn btn-default"
                        type="button">Suggest an Username
                </button>
                <hr>
            </div>
            <div class="form-group">
                <label for="secret">Secret Questions</label>
                <select id="secret"
                        class="form-control"
                        formControlName="secret">
                    <option value="pet">สัตว์เลี้ยงตัวแรกของคุณ?</option>
                    <option value="teacher">ครูคนแรกของคุณ?</option>
                    <option value="car">รถคันแรกของคุณ?</option>
                </select>
            </div>
            <div class="form-group">
                <div formArrayName="hobbies">
                    <label>Your Hobbies</label>
                    <div class="form-group">
                        <button
                            class="btn btn-default"
                            type="button"
                            (click)="onAddHobby()">Add Hobby</button>
                    </div>

                    <div class="form-group"
                        *ngFor="let hobby of getHobbies(); let i = index">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div>
            </div>
            <span *ngIf="!registerForm.valid && registerForm.touched"
                class="help-block">Please enter a valid</span>
            <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!registerForm.valid">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> ลงทะเบียน
            </button>
        </form>
    </div>
    <div class="col-md-7" *ngIf="submitted">
        <h5>Output Data:</h5>
        <hr>
        <p>Full Name: {{ user.userData.fullName }}</p>
        <p>Username: {{ user.userData.username }}</p>
        <p>E-Mail: {{ user.userData.email }}</p>
        <p>Sex: {{ user.userData.sex }}</p>
        <p>Secret: {{ user.secret }}</p>
        <p>Your hobbies: {{ user.hobbies }}</p>
    </div>
</div>
<hr>