<p>items works!</p>



<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>ชื่อสินค้า</th>
            <th>ราคา</th>
            <th>จำนวน</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td scope="row"></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.qty}}</td>
            <td>
                <button class="btn btn-sm btn-warning">edit</button>&nbsp;
                <button  class="btn btn-sm btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- <ul>
    <li *ngFor="let item of list">
      {{ item }} : <button type="button" (click)="remove(item)">remove</button>
    </li>
  </ul> -->